.Decor__research Исследуйте
  include ../../images/arrow-right.svg
.Decor__socials
  a.Decor__link(href="#") Facebook
  | .
  a.Decor__link(href="#") Twitter
  | .
  a.Decor__link(href="#") Vkontakte
  | .
  a.Decor__link(href="#") instagram
.Hamburger
    include ../../images/hamburger.svg
