footer.Footer
  .g-wrapper
    .Footer__top
      .Footer__col
        a(href="/").Footer__logo
          include ../../images/logo-white.svg
      .Footer__col
        .Footer__title Юридическим лицам
        a(href="#").Footer__link Счета в иностранных банках
        a(href="#").Footer__link Сопровождение иностранных компаний
        a(href="#").Footer__link Регистрация иностранных компаний
        a(href="#").Footer__link Регистрация иностранных компаний
        a(href="#").Footer__link Регистрация иностранных компаний
        a(href="#").Footer__link Регистрация иностранных компаний
        a(href="#").Footer__link Регистрация иностранных компаний
        a(href="#").Footer__link Регистрация иностранных компаний
        a(href="#").Footer__link Регистрация иностранных компаний
      .Footer__col
        .Footer__title Частным лицам
        a(href="#").Footer__link Вид на жительство через инвестиции
        a(href="#").Footer__link Регистрация яхт и судов
        a(href="#").Footer__link Представление в иностранных судах
        a(href="#").Footer__link Гражданство через инвестиции
        a(href="#").Footer__link Гражданство через инвестиции
        a(href="#").Footer__link Гражданство через инвестиции
        a(href="#").Footer__link Гражданство через инвестиции
        a(href="#").Footer__link Гражданство через инвестиции
        a(href="#").Footer__link Гражданство через инвестиции
        a(href="#").Footer__link Гражданство через инвестиции
      .Footer__col
        .Footer__title Навигация
        a(href="#").Footer__link Наш блог
        a(href="#").Footer__link О компании
    .Footer__bottom
      .Footer__bottom_left
        .Footer__bottom_col
          .Footer__title Свяжитесь с нами:
          a(href="mailto:info@ncl-corporate.ru").Footer__link info@ncl-corporate.ru
          a(href="tel:+79510690410").Footer__link +7 (951) 069-04-10
          a(href="tel:+79510690410").Footer__link +7 (951) 069-04-10
        .Footer__bottom_col
          .Footer__title Наш адрес:
          .Footer__link г. Москва,
          .Footer__link ул. Гагарина, 12б
      .Footer__bottom_right
        .Footer__bottom_col
          .Footer__title Мы в социальных сетях:
          .Footer__socials
            a(href="#").Footer__social
              include ../../images/Facebook.svg
            a(href="#").Footer__social
              include ../../images/Instagram.svg
            a(href="#").Footer__social
              include ../../images/Pinterest.svg
            a(href="#").Footer__social
              include ../../images/Twitter.svg
        .Footer__bottom_col
          .Footer__title Подпишитесь на нашу рассылку:
          form.Footer__subscribe
            input(type="email" name="email" placeholder="Введите Ваш e-mail").Footer__input
            button(type="submit").Footer__form_but
              include ../../images/arrow-form.svg
    .Footer__inform
      .Footer__link © 2017 NLC Corporate. Все права защищены.
      .Footer__pays
        .Footer__pay
          include ../../images/maestro.svg
        .Footer__pay
          include ../../images/mastercard.svg
        .Footer__pay
          include ../../images/paypal.svg
        .Footer__pay
          include ../../images/visa.svg






