header.Header
  .g-wrapper
    .Header__top
      .Logo.Header__logo: include ../../images/logo.svg
      nav.Header__links
        a.Header__link(href="#") О компании
        a.Header__link(href="#") Контакты
      .Header__email info@ncl-corporate.ru
      .Header__phones
      button.Header__callback(data-text="Заказать звонок")
    .Header__bottom
