.i-About
  .g-wrapper
    .i-About__container
      .i-About__listBlock
        ul.i-About__list
          li.i-About__item
            include ../../images/Oval.svg
            | Член команды NCL, отвечающий за финансовое и налоговое планирование, является лауреатом нобелевской премии по экономике
          li.i-About__item
            include ../../images/Oval.svg
            | NCL - близкий партнер престижнейшей юридической фирмы Кипра Lefcos Clerides and Sons.
          li.i-About__item
            include ../../images/Oval.svg
            | Ключевые сотрудники NCL имеют докторские степени по праву, финансам и экономике, полученные в ведущих мировых университетах.
      .i-About__description
        .i-About__title О нашей компании
        .i-About__heading NCL - «качественный сервис и конфиденциальность
        .i-About__text Мы являемся представительством крупной международной юридической компании "NCL". Мы понимаем сложные задачи, с которыми сталкивается бизнес, работающий на международной арене и считаем, что такие задачи необходимо решать комплексно: они требуют решений, которые рассматривают оффшорные, налоговые, юридические и корпоративные вопросы одновременно и с различных точек зрения. Поэтому наша команда состоит из лидеров и международных экспертов, представляющих различные дисциплины и сферы бизнеса.
    .i-About__footer
      .i-About__cite NCL не просто создает эффективные решения для управления благосостоянием, мы используем наши контакты на высоком уровне и обширные бизнес-связи, чтобы помочь вам воплотить эти решения в жизнь.
      a.i-About__link(href="#") Подробнее
