.i-Blog
  h1.i-Blog__heading Наш блог:
  .g-wrapper
    .i-Blog__item.i-Blog__item_left
      .i-Blog__img(style="background-image: url('/images/blog.jpg');")
      .i-Blog__content
        .i-Blog__date 08.04.18
        h3.i-Blog__title Важная новость для всех!
        p.i-Blog__text Мы не только говорим Вам об этой новости, но и понимаем как это важно! Спасибо за все. <br/><br/> Читайте подробности на странице
        a.i-Blog__more(href="#")
          include ../../images/arrow-left.svg
          .i-Blog__button Перейти
          include ../../images/arrow-right.svg
    .i-Blog__item.i-Blog__item_right
      .i-Blog__img(style="background-image: url('/images/blog.jpg');")
      .i-Blog__content
        .i-Blog__date 08.04.18
        h3.i-Blog__title Важная новость для всех!
        p.i-Blog__text Мы не только говорим Вам об этой новости, но и понимаем как это важно! Спасибо за все. <br/><br/> Читайте подробности на странице
        a.i-Blog__more(href="#")
          include ../../images/arrow-left.svg
          .i-Blog__button Перейти
          include ../../images/arrow-right.svg

