section.Contacts
  .g-wrapper
    include ./_i-SectionTop.pug
    .Contacts__bottom
      .Contacts__block
        .Contacts__address
          include ../../images/target.svg
          span Chanteclair Building Sophoulis St. 28 1096 Никосия, Кипр
        .Contacts__map
          img(src='../../images/map.png')
        .Contacts__wrap
          .Contacts__subtitle Свяжитесь с нами:
          .Contacts__inform
            a(href="mail:russia@ncl-corporate.com").Contacts__link
              include ../../images/envelop.svg
              span russia@ncl-corporate.com
            a(href="tel:+35722673725").Contacts__link
              include ../../images/envelop.svg
              span +357 22 673 725
      .Contacts__block
        .Contacts__address
          include ../../images/target.svg
          span Chanteclair Building Sophoulis St. 28 1096 Никосия, Кипр
        .Contacts__map
          img(src='../../images/map.png')
        .Contacts__wrap
          .Contacts__subtitle Свяжитесь с нами:
          .Contacts__inform
            a(href="mail:russia@ncl-corporate.com").Contacts__link
              include ../../images/envelop.svg
              span russia@ncl-corporate.com
            a(href="tel:+35722673725").Contacts__link
              include ../../images/envelop.svg
              span +357 22 673 725
