section.Contacts
  .g-wrapper
    .Contacts__top
      .Contacts__left
        .Contacts__title НАШИ КОНТАКТЫ
        .Contacts__about Наши офисы находятся в 2 крупных городах.
      .Contacts__right
        form.Contacts__form
          .Contacts__form_inner
            .Contacts__form_title Оставьте заявку:
            .Contacts__form_elem
              .Contacts__form_elem_inner
                input(type="text" name="name" placeholder="Ваше имя").Contacts__form_input
            .Contacts__form_elem
              .Contacts__form_elem_inner
                input(type="tel" name="phone" placeholder="Ваш телефон").Contacts__form_input
            .Contacts__form_elem
              .Contacts__form_elem_inner
                textarea(type="text" name="text" placeholder="Ваше сообщение").Contacts__form_textarea
            button(type="submit").Contacts__form_button Отправить
    .Contacts__bottom
      .Contacts__block
        .Contacts__address
          include ../../images/target.svg
          span Chanteclair Building Sophoulis St. 28 1096 Никосия, Кипр
        .Contacts__map
          img(src='../../images/map.png')
        .Contacts__wrap
          .Contacts__subtitle Свяжитесь с нами:
          .Contacts__inform
            a(href="mail:russia@ncl-corporate.com").Contacts__link
              include ../../images/envelop.svg
              span russia@ncl-corporate.com
            a(href="tel:+35722673725").Contacts__link
              include ../../images/envelop.svg
              span +357 22 673 725
      .Contacts__block
        .Contacts__address
          include ../../images/target.svg
          span Chanteclair Building Sophoulis St. 28 1096 Никосия, Кипр
        .Contacts__map
          img(src='../../images/map.png')
        .Contacts__wrap
          .Contacts__subtitle Свяжитесь с нами:
          .Contacts__inform
            a(href="mail:russia@ncl-corporate.com").Contacts__link
              include ../../images/envelop.svg
              span russia@ncl-corporate.com
            a(href="tel:+35722673725").Contacts__link
              include ../../images/envelop.svg
              span +357 22 673 725
