.i-Directions
  h3.i-Directions__heading Работаем более чем в 30 странах
  .g-wrapper
    .i-Directions__container
      .i-Directions__directions
        .i-Directions__direction(style="background-image: url('/images/direction1.jpg')")
          .i-Directions__text Регистрация и обслуживание иностранных компаний
          a.i-Directions__link(href="#") Перейти
        .i-Directions__direction(style="background-image: url('/images/direction2.jpg')")
          .i-Directions__text Международные юридические услуги частным лицам
          a.i-Directions__link(href="#") Перейти
        .i-Directions__label Наши направления
