.i-Line
  .g-wrapper
    .i-Line__items
      .i-Line__item
        .i-Line__top РАБОТАЕМ В
        .i-Line__number 33
        .i-Line__text СТРАНАХ
      .i-Line__item
        .i-Line__number 60+
        .i-Line__text БАНКОВ-ПАРНЕРОВ
      .i-Line__item
        .i-Line__number 23
        .i-Line__text ГОДА НА РЫНКЕ
