.i-Menu
  .i-Menu__close
    include ../../images/cross.svg
  .g-wrapper
    .i-Menu__wrapper.i-Menu__desk
      .i-Menu__top
        .i-Menu__left
          .i-Menu__title МЕНЮ
          .i-Menu__subtitle Спасибо, что выбираете нас!
        .i-Menu__line
        form.SectionTop__form.i-Menu__form
          .SectionTop__form_inner.i-Menu__form_inner
            .SectionTop__form_title.i-Menu__form_title Оставьте заявку:
            .SectionTop__form_elem.i-Menu__form_elem
              input(type="text" name="name" placeholder="Ваше имя").SectionTop__form_input.i-Menu__form_input
            .SectionTop__form_elem.i-Menu__form_elem
              input(type="tel" name="phone" placeholder="Ваш телефон").SectionTop__form_input.i-Menu__form_input
            .SectionTop__form_elem.i-Menu__form_elem
              textarea(type="text" name="text" placeholder="Ваше сообщение").SectionTop__form_textarea.i-Menu__form_textarea
            button(type="submit").SectionTop__form_button.i-Menu__form_button Отправить
      .i-Menu__navigation
        .i-Menu__navigation_title Навигация:
        a(href="#").i-Menu__navigation_element Регистрация и обслуживание иностранных компаний
        .i-Menu__navigation_line
        a(href="#").i-Menu__navigation_element Международные юридические услуги частным лицам
      .i-Menu__links
        .i-Menu__col
          .Footer__title Юридическим лицам
          a(href="#").Footer__link Счета в иностранных банках
          a(href="#").Footer__link Сопровождение иностранных компаний
          a(href="#").Footer__link Регистрация иностранных компаний
          a(href="#").Footer__link Регистрация иностранных компаний
          a(href="#").Footer__link Регистрация иностранных компаний
          a(href="#").Footer__link Регистрация иностранных компаний
        .i-Menu__col
          .Footer__title Частным лицам
          a(href="#").Footer__link Вид на жительство через инвестиции
          a(href="#").Footer__link Регистрация яхт и судов
          a(href="#").Footer__link Представление в иностранных судах
          a(href="#").Footer__link Гражданство через инвестиции
          a(href="#").Footer__link Гражданство через инвестиции
          a(href="#").Footer__link Гражданство через инвестиции
          a(href="#").Footer__link Гражданство через инвестиции
        .i-Menu__col
          .Footer__title Навигация
          a(href="#").Footer__link Наш блог
          a(href="#").Footer__link О компании

    .i-Menu__mobile
      .i-Menu__mobile_header
         a(href="#").i-Menu__mobile__logo
          include ../../images/logo-white.svg
      .i-Menu__mobile_navigations
        .i-Menu__mobile_title Навигация:
        a(href="#").i-Menu__mobile_nav Юридическим лицам
        a(href="#").i-Menu__mobile_nav Частным лицам
      .i-Menu__mobile_probems
        a(href="#").i-Menu__mobile_problem Регистрация и обслуживание иностранных компаний
        a(href="#").i-Menu__mobile_problem Международные юридические услуги частным лицам
      form.SectionTop__form.i-Menu__form
        .SectionTop__form_inner.i-Menu__form_inner
          .SectionTop__form_title.i-Menu__form_title Оставьте заявку:
          .SectionTop__form_elem.i-Menu__form_elem
            input(type="text" name="name" placeholder="Ваше имя").SectionTop__form_input.i-Menu__form_input
          .SectionTop__form_elem.i-Menu__form_elem
            input(type="tel" name="phone" placeholder="Ваш телефон").SectionTop__form_input.i-Menu__form_input
          .SectionTop__form_elem.i-Menu__form_elem
            textarea(type="text" name="text" placeholder="Ваше сообщение").SectionTop__form_textarea.i-Menu__form_textarea
          button(type="submit").SectionTop__form_button.i-Menu__form_button Отправить
