.i-Partners
  .i-Partners__heading Наши партнеры:
  .g-wrapper
    .i-Partners__container
      img(src="/images/partner.jpg")
      img(src="/images/partner.jpg")
      img(src="/images/partner.jpg")
      img(src="/images/partner.jpg")
      img(src="/images/partner.jpg")
