.i-Partners
  .i-Partners__heading Наши партнеры:
  .g-wrapper
    .i-Partners__container
      .i-Partners__wrap
        img(src="/images/partner.png")
      .i-Partners__wrap
        img(src="/images/partner.png")
      .i-Partners__wrap
        img(src="/images/partner.png")
      .i-Partners__wrap
        img(src="/images/partner.png")
      .i-Partners__wrap
        img(src="/images/partner.png")

