.i-Slider
  .g-wrapper
    .i-Slider__container
      .i-Slider__slider
        .i-Slider__wrapper.swiper-wrapper
          .swiper-slide
            .i-Slider__slide(style="background-image: url('images/slide1.jpg')")
              .i-Slider__number 01
              h1.i-Slider__heading Регистрация <br/> иностранных компаний
              p.i-Slider__text Решение оффшорных, налоговых, юридических <br/>и корпоративных задач
              a.i-Slider__link(href="#")
                include ../../images/about-us.svg
                | О нас
          .swiper-slide
            .i-Slider__slide(style="background-image: url('images/slide1.jpg')")
              .i-Slider__number 02
              h1.i-Slider__heading Регистрация <br/> иностранных компаний
              p.i-Slider__text Решение оффшорных, налоговых, юридических <br/>и корпоративных задач
              a.i-Slider__link(href="#")
                include ../../images/about-us.svg
                | О нас
          .swiper-slide
            .i-Slider__slide(style="background-image: url('images/slide1.jpg')")
              .i-Slider__number 03
              h1.i-Slider__heading Регистрация <br/> иностранных компаний
              p.i-Slider__text Решение оффшорных, налоговых, юридических <br/>и корпоративных задач
              a.i-Slider__link(href="#")
                include ../../images/about-us.svg
                | О нас
      .i-Slider__buttons
        .i-Slider__button.i-Slider__button_left: include ../../images/arrow-left.svg
        .i-Slider__button.i-Slider__button_right: include ../../images/arrow-right.svg
