.i-Team
  .g-wrapper
    h1.i-Team__heading Наша команда:
    .i-Team__team
      .i-Team__block
        .i-Team__photo: img(src="/images/photo.jpg")
        h4.i-Team__name Nicos Clerides
        p.i-Team__description Chairman and Head, Global Asset Management and Legal
        a.i-Team__more(data-id="0") Read more
      .i-Team__block
        .i-Team__photo: img(src="/images/photo.jpg")
        h4.i-Team__name Nicos Clerides
        p.i-Team__description Chairman and Head, Global Asset Management and Legal
        a.i-Team__more(data-id="1") Read more
      .i-Team__block
        .i-Team__photo: img(src="/images/photo.jpg")
        h4.i-Team__name Nicos Clerides
        p.i-Team__description Chairman and Head, Global Asset Management and Legal
        a.i-Team__more(data-id="2") Read more
      .i-Team__block
        .i-Team__photo: img(src="/images/photo.jpg")
        h4.i-Team__name Nicos Clerides
        p.i-Team__description Chairman and Head, Global Asset Management and Legal
        a.i-Team__more(data-id="3") Read more
