.i-Vantage
  .g-wrapper
    h2.i-Vantage__heading Бизнесу:
    .i-Vantage__blocks
      .i-Vantage__block
        include ../../images/piggy-bank.svg
        .i-Vantage__text Счета в иностранных банках
      .i-Vantage__block
        include ../../images/company.svg
        .i-Vantage__text Сопровождение иностранных компаний
      .i-Vantage__block
        include ../../images/planning.svg
        .i-Vantage__text Аудит и налоговое планирование
      .i-Vantage__block
        include ../../images/urregist.svg
        .i-Vantage__text Регистрация иностранных компаний
      .i-Vantage__block
        include ../../images/resitrf.svg
        .i-Vantage__text Регистрация иностранных компаний
      .i-Vantage__block.i-Vantage__block_last
        a.i-Vantage__more(href="#")
          .i-Vantage__button Все услуги бизнесу
          include ../../images/arrow-right.svg
    h2.i-Vantage__heading Частным лицам:
    .i-Vantage__blocks
      .i-Vantage__block
        include ../../images/passport.svg
        .i-Vantage__text Вид на жительство через инвестиции
      .i-Vantage__block
        include ../../images/ship.svg
        .i-Vantage__text Регистрация яхт и судов
      .i-Vantage__block
        include ../../images/lawyer.svg
        .i-Vantage__text Представление в иностранных судах
      .i-Vantage__block
        include ../../images/rich.svg
        .i-Vantage__text Гражданство через инвестиции
      .i-Vantage__block
        include ../../images/rich.svg
        .i-Vantage__text Гражданство через инвестиции
      .i-Vantage__block.i-Vantage__block_last
        a.i-Vantage__more(href="#")
          .i-Vantage__button Все услуги частным лицам
          include ../../images/arrow-right.svg
