.j-Documents
  .g-wrapper
    .j-Documents__heading Папкет документов, предоставляемых в момент передачи компании:
    .j-Documents__block
      .j-Documents__col
        h2.j-Documents__title Компания без номинального сервиса:
        ul.j-Documents__list
          li.j-Documents__item Самые лучшие и сдержанные чуваки в команде подготовки
          li.j-Documents__item Самые лучшие и сдержанные чуваки в команде подготовки
          li.j-Documents__item Самые лучшие и сдержанные чуваки в команде подготовки
      .j-Documents__col
        h2.j-Documents__title Компания без номинального сервиса:
        ul.j-Documents__list
          li.j-Documents__item Самые лучшие и сдержанные чуваки в команде подготовки
          li.j-Documents__item Самые лучшие и сдержанные чуваки в команде подготовки
          li.j-Documents__item Самые лучшие и сдержанные чуваки в команде подготовки
