.j-Registration
  .g-wrapper
    .j-Registration__container
      h1.j-Registration__heading Процедура регистрации:
      .j-Registration__days
        .j-Registration__day
          .j-Registration__image
            img(src="/images/BGDays.svg")
            .j-Registration__dayNumber 1 день
          ul.j-Registration__list
            li.j-Registration__item Самые лучшие и сдержанные в команде подготовки
            li.j-Registration__item Самые лучшие и сдержанные в команде подготовки
        .j-Registration__day
          .j-Registration__image
            img(src="/images/BGDays.svg")
            .j-Registration__dayNumber 2 день
          ul.j-Registration__list
            li.j-Registration__item Самые лучшие и сдержанные в команде подготовки
            li.j-Registration__item Самые лучшие и сдержанные в команде подготовки
        .j-Registration__day
          .j-Registration__image
            img(src="/images/BGDays.svg")
            .j-Registration__dayNumber 3 день
          ul.j-Registration__list
            li.j-Registration__item Самые лучшие и сдержанные в команде подготовки
            li.j-Registration__item Самые лучшие и сдержанные в команде подготовки
        .j-Registration__day
          .j-Registration__image
            img(src="/images/BGDays.svg")
            .j-Registration__dayNumber 4 день
          ul.j-Registration__list
            li.j-Registration__item Самые лучшие и сдержанные в команде подготовки
            li.j-Registration__item Самые лучшие и сдержанные в команде подготовки
