.j-Requirements
  .j-Requirements__block
    .j-Requirements__col
      h2.j-Requirements__heading Требования к компании:
      ul.j-Requirements__list
        li.j-Requirements__item Самые лучшие и сдержанные чуваки в команде подготовки
        li.j-Requirements__item Самые лучшие и сдержанные чуваки в команде подготовки
        li.j-Requirements__item Самые лучшие и сдержанные чуваки в команде подготовки
    .j-Requirements__col
      h2.j-Requirements__heading Требования к компании:
      ul.j-Requirements__list
        li.j-Requirements__item Самые лучшие и сдержанные чуваки в команде подготовки
        li.j-Requirements__item Самые лучшие и сдержанные чуваки в команде подготовки
        li.j-Requirements__item Самые лучшие и сдержанные чуваки в команде подготовки
