.j-Services
  h1.j-Services__heading Стоимость услуги:
  .j-Services__container
    .g-wrapper
      table.j-Services__table
        thead
          tr
            th
            th Наименование услуги
            th Пакет 1
            th Пакет 2
            th Пакет 3
            th Пакет 4
            th Пакет 5
            th
        tbody
          tr
            td: include ../../images/circle-q.svg
            td Нотариальные услуги
            td: include ../../images/Okay.svg
            td: include ../../images/Okay.svg
            td: include ../../images/Okay.svg
            td: include ../../images/Okay.svg
            td: include ../../images/Okay.svg
            td: a.j-Services__more(href="#"): span Подробнее
          tr
            td: include ../../images/circle-q.svg
            td Юридический адрес на 1 год
            td: include ../../images/NotOkay.svg
            td: include ../../images/Okay.svg
            td: include ../../images/Okay.svg
            td: include ../../images/Okay.svg
            td: include ../../images/Okay.svg
            td: a.j-Services__more(href="#"): span Подробнее
          tr
            td: include ../../images/circle-q.svg
            td Апостилированный пакет
            td: include ../../images/NotOkay.svg
            td: include ../../images/NotOkay.svg
            td: include ../../images/Okay.svg
            td: include ../../images/Okay.svg
            td: include ../../images/Okay.svg
            td: a.j-Services__more(href="#"): span Подробнее
          tr
            td: include ../../images/circle-q.svg
            td Секретарь компании
            td: include ../../images/NotOkay.svg
            td: include ../../images/NotOkay.svg
            td: include ../../images/NotOkay.svg
            td: include ../../images/Okay.svg
            td: include ../../images/Okay.svg
            td: a.j-Services__more(href="#"): span Подробнее
          tr
            td: include ../../images/circle-q.svg
            td Генеральная доверенность
            td: include ../../images/NotOkay.svg
            td: include ../../images/NotOkay.svg
            td: include ../../images/NotOkay.svg
            td: include ../../images/NotOkay.svg
            td: include ../../images/Okay.svg
            td: a.j-Services__more(href="#"): span Подробнее
          tr
            td
            td.j-Services__black Общая стоимость
            td.j-Services__black от $100
            td.j-Services__black от $200
            td.j-Services__black от $300
            td.j-Services__black от $400
            td.j-Services__black от $500
            td
          tr
            td
            td Ежегодное обслуживание
            td от $100
            td от $200
            td от $300
            td от $400
            td от $500
            td
          tr
            td
            td
            td
            td
            td
            td
            td
            td
