.o-Adservices
  .g-wrapper
    .o-Adservices__heading Дополнительные услуги:
    .o-Adservices__table
      .o-Adservices__top
        .o-Adservices__col Наименование дополнительной услуги
        .o-Adservices__col Стоимость
        .o-Adservices__col
      .o-Adservices__tbody
        .o-Adservices__tr
          .o-Adservices__col Международная пересылка документов
          .o-Adservices__col от $100
          .o-Adservices__col: button.o-Prices__more Подробнее
        .o-Adservices__tr
          .o-Adservices__col Пересылка дополнительных документов внутри РФ
          .o-Adservices__col от $100
          .o-Adservices__col
        .o-Adservices__tr
          .o-Adservices__col Оформление документов (для открытия банковской платежной карты и иных)
          .o-Adservices__col от $100
          .o-Adservices__col
        .o-Adservices__tr
          .o-Adservices__col Хранение документов компании в офисе за рубежом (до 1 кг)
          .o-Adservices__col от $100
          .o-Adservices__col
        .o-Adservices__tr
          .o-Adservices__col Оформление документов (для открытия банковской платежной карты и иных)
          .o-Adservices__col от $100
          .o-Adservices__col
