.o-Prices
  .o-Prices__heading
  .o-Prices__container
    .g-wrapper
      table.o-Prices__table
        thead
          tr
            th
            th Юрисдикция
            th Регистрация
            th Номинальный сервис
            th Ежегодное обслуж-ие
            th Финансовая отчетность
            th
        tbody
          tr
            td: .o-Prices__drop
            td #[img.o-Prices__flag(src="/images/uk.svg")] Великобритания
            td от $100
            td от $100
            td от $100
            td от $100
            td: button.o-Prices__more Подробнее
          tr
            td.o-Prices__full(colspan="7")
              .o-Prices__description-container
                .o-Prices__description
                  .o-Prices__lists
                    .o-Prices__block
                      .o-Prices__title Плюсы юрисдикции
                      ul.o-Prices__list
                        li.o-Prices__item Самые лучшие и сдержанные чуваки в команде подготовки
                        li.o-Prices__item Самые лучшие и сдержанные чуваки в команде подготовки
                        li.o-Prices__item Самые лучшие и сдержанные чуваки в команде подготовки
                    .o-Prices__block
                      .o-Prices__title Дополнительные услуги
                      ul.o-Prices__list
                        li.o-Prices__item Поддержка в странах
                        li.o-Prices__item Лобирование Ваших интересов во всем
                        li.o-Prices__item Действия в Вашу пользу
                    .o-Prices__block
                      .o-Prices__title Счета в банках
                      ul.o-Prices__list
                        li.o-Prices__item Сбербанк #[img(src="/images/sberbank.svg")]
                        li.o-Prices__item Сбербанк #[img(src="/images/sberbank.svg")]
                        li.o-Prices__item Сбербанк #[img(src="/images/sberbank.svg")]
                  .o-Prices__footer
                    a.o-Prices__footer-button(href="#") Заказать услугу
          tr
            td: .o-Prices__drop
            td #[img.o-Prices__flag(src="/images/uk.svg")] Великобритания
            td от $100
            td от $100
            td от $100
            td от $100
            td: button.o-Prices__more Подробнее
          tr
            td.o-Prices__full(colspan="7")
              .o-Prices__description-container
                .o-Prices__description
                  .o-Prices__lists
                    .o-Prices__block
                      .o-Prices__title Плюсы юрисдикции
                      ul.o-Prices__list
                        li.o-Prices__item Самые лучшие и сдержанные чуваки в команде подготовки
                        li.o-Prices__item Самые лучшие и сдержанные чуваки в команде подготовки
                        li.o-Prices__item Самые лучшие и сдержанные чуваки в команде подготовки
                    .o-Prices__block
                      .o-Prices__title Дополнительные услуги
                      ul.o-Prices__list
                        li.o-Prices__item Поддержка в странах
                        li.o-Prices__item Лобирование Ваших интересов во всем
                        li.o-Prices__item Действия в Вашу пользу
                    .o-Prices__block
                      .o-Prices__title Счета в банках
                      ul.o-Prices__list
                        li.o-Prices__item Сбербанк #[img(src="/images/sberbank.svg")]
                        li.o-Prices__item Сбербанк #[img(src="/images/sberbank.svg")]
                        li.o-Prices__item Сбербанк #[img(src="/images/sberbank.svg")]
                  .o-Prices__footer
                    a.o-Prices__footer-button(href="#") Заказать услугу
          tr
            td: .o-Prices__drop
            td #[img.o-Prices__flag(src="/images/uk.svg")] Великобритания
            td от $100
            td от $100
            td от $100
            td от $100
            td: button.o-Prices__more Подробнее
          tr
            td.o-Prices__full(colspan="7")
              .o-Prices__description-container
                .o-Prices__description
                  .o-Prices__lists
                    .o-Prices__block
                      .o-Prices__title Плюсы юрисдикции
                      ul.o-Prices__list
                        li.o-Prices__item Самые лучшие и сдержанные чуваки в команде подготовки
                        li.o-Prices__item Самые лучшие и сдержанные чуваки в команде подготовки
                        li.o-Prices__item Самые лучшие и сдержанные чуваки в команде подготовки
                    .o-Prices__block
                      .o-Prices__title Дополнительные услуги
                      ul.o-Prices__list
                        li.o-Prices__item Поддержка в странах
                        li.o-Prices__item Лобирование Ваших интересов во всем
                        li.o-Prices__item Действия в Вашу пользу
                    .o-Prices__block
                      .o-Prices__title Счета в банках
                      ul.o-Prices__list
                        li.o-Prices__item Сбербанк #[img(src="/images/sberbank.svg")]
                        li.o-Prices__item Сбербанк #[img(src="/images/sberbank.svg")]
                        li.o-Prices__item Сбербанк #[img(src="/images/sberbank.svg")]
                  .o-Prices__footer
                    a.o-Prices__footer-button(href="#") Заказать услугу
          tr
            td: .o-Prices__drop
            td #[img.o-Prices__flag(src="/images/uk.svg")] Великобритания
            td от $100
            td от $100
            td от $100
            td от $100
            td: button.o-Prices__more Подробнее
          tr
            td.o-Prices__full(colspan="7")
              .o-Prices__description-container
                .o-Prices__description
                  .o-Prices__lists
                    .o-Prices__block
                      .o-Prices__title Плюсы юрисдикции
                      ul.o-Prices__list
                        li.o-Prices__item Самые лучшие и сдержанные чуваки в команде подготовки
                        li.o-Prices__item Самые лучшие и сдержанные чуваки в команде подготовки
                        li.o-Prices__item Самые лучшие и сдержанные чуваки в команде подготовки
                    .o-Prices__block
                      .o-Prices__title Дополнительные услуги
                      ul.o-Prices__list
                        li.o-Prices__item Поддержка в странах
                        li.o-Prices__item Лобирование Ваших интересов во всем
                        li.o-Prices__item Действия в Вашу пользу
                    .o-Prices__block
                      .o-Prices__title Счета в банках
                      ul.o-Prices__list
                        li.o-Prices__item Сбербанк #[img(src="/images/sberbank.svg")]
                        li.o-Prices__item Сбербанк #[img(src="/images/sberbank.svg")]
                        li.o-Prices__item Сбербанк #[img(src="/images/sberbank.svg")]
                  .o-Prices__footer
                    a.o-Prices__footer-button(href="#") Заказать услугу
