.o-Service
  .g-wrapper
    .o-Service__container
      .o-Service__col: img(src="/images/serv.png")
      .o-Service__float
        .o-Service__title Услуга оказывается «Под ключ»
        .o-Service__heading Полная регистрация по всем юрисдикциям
        .o-Service__text Мы не только говорим Вам об этой новости, но и понимаем как это важно! Спасибо за все.
        .o-Service__text Читайте подробности на странице текст загушка привет это вся инфа!
