.SecodaryMenu
  .g-wrapper
    .SecodaryMenu__container(tabindex="1")
      .SecodaryMenu__menu
        .SecodaryMenu__heading Список услуг:
        nav.SecodaryMenu__links
          a.SecodaryMenu__link(href="#") Регистрация и обслуживание иностранных компаний
          a.SecodaryMenu__link(href="#") Покупка готовых иностранных компаний
          a.SecodaryMenu__link(href="#") Открытие счетов в иностранных банках
          a.SecodaryMenu__link(href="#") Создание виртуальных офисов
          a.SecodaryMenu__link(href="#") Аудит и финансовая отчетность
          a.SecodaryMenu__link(href="#") Налоговое планирование и юридическое сопровождение
          a.SecodaryMenu__link(href="#") Международные трасты и фонды
          a.SecodaryMenu__link(href="#") Регистрация торговых марок
          a.SecodaryMenu__link(href="#") Структурирование и трансфертное ценообразование
          a.SecodaryMenu__link(href="#") Лицензирование финансовых компаний
      .SecodaryMenu__citiesBlock
        .SecodaryMenu__heading Юрисдикции:
        .SecodaryMenu__cities
          a.SecodaryMenu__city(href="#") Бруней
          a.SecodaryMenu__city(href="#") Люксембург
          a.SecodaryMenu__city(href="#") Кипр
          a.SecodaryMenu__city(href="#") Новая Зеландия
          a.SecodaryMenu__city(href="#") Португалия
          a.SecodaryMenu__city(href="#") Ангилья
          a.SecodaryMenu__city(href="#") Сейшельские острова
          a.SecodaryMenu__city(href="#") Сингапур
          a.SecodaryMenu__city(href="#") Самоэ
          a.SecodaryMenu__city(href="#") Швейцария
          a.SecodaryMenu__city(href="#") Белиз
          a.SecodaryMenu__city(href="#") Бермудские острова
          a.SecodaryMenu__city(href="#") Ирландия
          a.SecodaryMenu__city(href="#") Каймановы острова
          a.SecodaryMenu__city(href="#") Панама
          a.SecodaryMenu__city(href="#") Британские Виргинские
          a.SecodaryMenu__city(href="#") острова
          a.SecodaryMenu__city(href="#") Багамские острова
          a.SecodaryMenu__city(href="#") Андорра
          a.SecodaryMenu__city(href="#") Барбадос
          a.SecodaryMenu__city(href="#") Исландия
          a.SecodaryMenu__city(href="#") Гибралтар
          a.SecodaryMenu__city(href="#") США
          a.SecodaryMenu__city(href="#") ОАЭ
          a.SecodaryMenu__city(href="#") Лихтенштейн Гонконг
          a.SecodaryMenu__city(href="#") Великобритания
          a.SecodaryMenu__city(href="#") Мальта
          a.SecodaryMenu__city(href="#") Маршалловы острова
          a.SecodaryMenu__city(href="#") Сент-Китс и Невис
          a.SecodaryMenu__city(href="#") Сент-Винсет
          a.SecodaryMenu__city(href="#") Монако
          a.SecodaryMenu__city(href="#") Маврикий
          a.SecodaryMenu__city(href="#") Нидерланды

.SecodaryMenu
  .g-wrapper
    .SecodaryMenu__container(tabindex="1")
      .SecodaryMenu__menu
        .SecodaryMenu__heading Список услуг222:
        nav.SecodaryMenu__links
          a.SecodaryMenu__link(href="#") 22Регистрация и обслуживание иностранных компаний
          a.SecodaryMenu__link(href="#") Покупка готовых иностранных компаний
          a.SecodaryMenu__link(href="#") 2Открытие счетов в иностранных банках
          a.SecodaryMenu__link(href="#") Создание виртуальных офисов
          a.SecodaryMenu__link(href="#") 2Аудит и финансовая отчетность
          a.SecodaryMenu__link(href="#") 2Налоговое планирование и юридическое сопровождение
          a.SecodaryMenu__link(href="#") 2Международные трасты и фонды
          a.SecodaryMenu__link(href="#") Регистрация торговых марок
          a.SecodaryMenu__link(href="#") Структурирование и трансфертное ценообразование
          a.SecodaryMenu__link(href="#") Лицензирование финансовых компаний
      .SecodaryMenu__citiesBlock
        .SecodaryMenu__heading Юрисдикции:
        .SecodaryMenu__cities
          a.SecodaryMenu__city(href="#") Бруней
          a.SecodaryMenu__city(href="#") Люксембург
          a.SecodaryMenu__city(href="#") Кипр
          a.SecodaryMenu__city(href="#") Новая Зеландия
          a.SecodaryMenu__city(href="#") Португалия
          a.SecodaryMenu__city(href="#") Ангилья
          a.SecodaryMenu__city(href="#") Сейшельские острова
          a.SecodaryMenu__city(href="#") Сингапур
          a.SecodaryMenu__city(href="#") Самоэ
          a.SecodaryMenu__city(href="#") Швейцария
          a.SecodaryMenu__city(href="#") Белиз
          a.SecodaryMenu__city(href="#") Бермудские острова
          a.SecodaryMenu__city(href="#") Ирландия
          a.SecodaryMenu__city(href="#") Каймановы острова
          a.SecodaryMenu__city(href="#") Панама
          a.SecodaryMenu__city(href="#") Британские Виргинские
          a.SecodaryMenu__city(href="#") острова
          a.SecodaryMenu__city(href="#") Багамские острова
          a.SecodaryMenu__city(href="#") Андорра
          a.SecodaryMenu__city(href="#") Барбадос
          a.SecodaryMenu__city(href="#") Исландия
          a.SecodaryMenu__city(href="#") Гибралтар
          a.SecodaryMenu__city(href="#") США
          a.SecodaryMenu__city(href="#") ОАЭ
          a.SecodaryMenu__city(href="#") Лихтенштейн Гонконг
          a.SecodaryMenu__city(href="#") Великобритания
          a.SecodaryMenu__city(href="#") Мальта
          a.SecodaryMenu__city(href="#") Маршалловы острова
          a.SecodaryMenu__city(href="#") Сент-Китс и Невис
          a.SecodaryMenu__city(href="#") Сент-Винсет
          a.SecodaryMenu__city(href="#") Монако
          a.SecodaryMenu__city(href="#") Маврикий
          a.SecodaryMenu__city(href="#") Нидерланды





