extends layouts/_main.pug

block vars
  - const title = ''

block content
  include blocks/_i-Slider.pug
  include blocks/_i-Directions.pug
  include blocks/_i-Vantage.pug
  include blocks/_i-Line.pug
  include blocks/_i-About.pug
  include blocks/_i-Team.pug
  include blocks/_i-Blog.pug
  include blocks/_i-Partners.pug

