extends layouts/_main.pug

block vars
  - const title = 'Новости детальная'

block content
  section.Typical
    .Typical__menu
      .g-wrapper
        .Typical__box_wrap
          .Typical__menu_box
            .Typical__label Регистрация и обслуживание иностранных компаний
            .Typical__menu_links
              a(href="#").Typical__link Счета в иностранных банках
              a(href="#").Typical__link Сопровождение иностранных компаний
              a(href="#").Typical__link Аудит и налоговое планирование
              a(href="#").Typical__link Регистрация иностранных компаний
          .Typical__menu_box
            .Typical__label Регистрация и обслуживание иностранных компаний
            .Typical__menu_links
              a(href="#").Typical__link Вид на жительство через инвестиции
              a(href="#").Typical__link Регистрация яхт и судов
              a(href="#").Typical__link Гражданство через инвестиции
              a(href="#").Typical__link Гражданство через инвестиции
              a(href="#").Typical__link Гражданство через инвестиции
              a(href="#").Typical__link Гражданство через инвестиции

    .g-wrapper
      .Typical__wrapper
        .Typical__sidebar
          .Typical__sidebar_inner
            .Typical__boxcase
              .Typical__box
                .Typical__label Регистрация и обслуживание иностранных компаний
                .Typical__container
                  .Typical__links
                    a(href="#").Typical__link Счета в иностранных банках
                    a(href="#").Typical__link Сопровождение иностранных компаний
                    a(href="#").Typical__link Аудит и налоговое планирование
                    a(href="#").Typical__link Регистрация иностранных компаний
              .Typical__box
                .Typical__label Регистрация и обслуживание иностранных компаний
                .Typical__container
                  .Typical__links
                    a(href="#").Typical__link Вид на жительство через инвестиции
                    a(href="#").Typical__link Регистрация яхт и судов
                    a(href="#").Typical__link Гражданство через инвестиции
                    a(href="#").Typical__link Гражданство через инвестиции
                    a(href="#").Typical__link Гражданство через инвестиции
                    a(href="#").Typical__link Гражданство через инвестиции
            a(href="#").Typical__button Оставить заявку

        .Typical__content
          .i-News__head
            .i-News__head_left.Typical__head_left
              h2.i-News__title Статья про нашу услугу 1
              .i-News__text.i-News__text_margin Профилактика рисков, связанных с банкротством контрагентов, анализ совершаемых сделок на предмет их оспаривания на данный момент является на данный момент неотъемлемой частью хозяйственной деятельности любой компании или предприятия. <br>Динамичное изменение законодательства в сфере банкротства требует постоянного внимания как руководителя компании, финансового департамента, юристов компании, в том числе специалистов корпоративного права. 
              .i-News__text Специалисты компании «Клифф» помогут Вам избежать многих ошибок и рисков, связанных с банкротством, а также минимизировать финансовые потери и оптимизировать временные издержки. 
            .i-News__person
              .i-News__wrap
                img(src="../images/photo.jpg").i-News__photo
              .i-News__name Nicos Clerides
              .i-News__descript Chairman and Head, Global Asset Management and Legal
          .i-News__content
            .i-News__block
              .i-News__subtitle Наши преимущества
              .i-News__text - Комплексная работа команды юристов, арбитражных управляющих, оценщиков, аудиторов, финансистов, экономистов позволит сократить Ваши затраты;
              .i-News__text - Комплексная оценка финансового состояния компании с целью выявления возможности восстановления платежеспособности и погашения задолженности;
              .i-News__text - Анализ текущих и возможных рисков на любом этапе банкротства и меры по их предотвращению и снижению;
              .i-News__text - Своевременные действенные рекомендации по минимизации финансовых потерь, восстановлению платежеспособности при введении процедуры реструктуризации долга, по заключению мирового соглашения;
            .i-News__block
              .i-News__subtitle Наши преимущества
              .i-News__text - Комплексная работа команды юристов, арбитражных управляющих, оценщиков, аудиторов, финансистов, экономистов позволит сократить Ваши затраты;
              .i-News__text - Комплексная оценка финансового состояния компании с целью выявления возможности восстановления платежеспособности и погашения задолженности;
              .i-News__text - Анализ текущих и возможных рисков на любом этапе банкротства и меры по их предотвращению и снижению;
              .i-News__text - Своевременные действенные рекомендации по минимизации финансовых потерь, восстановлению платежеспособности при введении процедуры реструктуризации долга, по заключению мирового соглашения;
          .i-News__switch
            .i-News__buttons
              .i-News__button.i-News__button_active Об услуге
              .i-News__button Дополнительные услуги
              .i-News__button Проекты и клиенты
            .i-News__slide.i-News__slide_active
              .i-News__text.i-News__text_margin 1Профилактика рисков, связанных с банкротством контрагентов, анализ совершаемых сделок на предмет их оспаривания на данный момент является на данный момент неотъемлемой частью хозяйственной деятельности любой компании или предприятия.
              .i-News__text.i-News__text_margin Динамичное изменение законодательства в сфере банкротства требует постоянного внимания как руководителя компании, финансового департамента, юристов компании, в том числе специалистов корпоративного права.
              .i-News__text.i-News__text_margin Специалисты компании «Клифф» помогут Вам избежать многих ошибок и рисков, связанных с банкротством, а также минимизировать финансовые потери и оптимизировать временные издержки.
              .i-News__text.i-News__text_margin Банкротство – одна из самых сложных и длительных процедур в юридической практике  и требует слаженной командной работы. Сопровождение процедуры банкротства на стороне должника или участие в ней на стороне кредитора лучше доверить специалистам, имеющим большой опыт работы и способным нестандартно мыслить и находить оптимальные решения. Мы сотрудничаем с арбитражными управляющими, аудиторами и адвокатами по уголовному праву.
            .i-News__slide
              .i-News__text.i-News__text_margin 2Профилактика рисков, связанных с банкротством контрагентов, анализ совершаемых сделок на предмет их оспаривания на данный момент является на данный момент неотъемлемой частью хозяйственной деятельности любой компании или предприятия.
              .i-News__text.i-News__text_margin Динамичное изменение законодательства в сфере банкротства требует постоянного внимания как руководителя компании, финансового департамента, юристов компании, в том числе специалистов корпоративного права.
              .i-News__text.i-News__text_margin Специалисты компании «Клифф» помогут Вам избежать многих ошибок и рисков, связанных с банкротством, а также минимизировать финансовые потери и оптимизировать временные издержки.
              .i-News__text.i-News__text_margin Банкротство – одна из самых сложных и длительных процедур в юридической практике  и требует слаженной командной работы. Сопровождение процедуры банкротства на стороне должника или участие в ней на стороне кредитора лучше доверить специалистам, имеющим большой опыт работы и способным нестандартно мыслить и находить оптимальные решения. Мы сотрудничаем с арбитражными управляющими, аудиторами и адвокатами по уголовному праву.
            .i-News__slide
              .i-News__text.i-News__text_margin 3Профилактика рисков, связанных с банкротством контрагентов, анализ совершаемых сделок на предмет их оспаривания на данный момент является на данный момент неотъемлемой частью хозяйственной деятельности любой компании или предприятия.
              .i-News__text.i-News__text_margin Динамичное изменение законодательства в сфере банкротства требует постоянного внимания как руководителя компании, финансового департамента, юристов компании, в том числе специалистов корпоративного права.
              .i-News__text.i-News__text_margin Специалисты компании «Клифф» помогут Вам избежать многих ошибок и рисков, связанных с банкротством, а также минимизировать финансовые потери и оптимизировать временные издержки.
              .i-News__text.i-News__text_margin Банкротство – одна из самых сложных и длительных процедур в юридической практике  и требует слаженной командной работы. Сопровождение процедуры банкротства на стороне должника или участие в ней на стороне кредитора лучше доверить специалистам, имеющим большой опыт работы и способным нестандартно мыслить и находить оптимальные решения. Мы сотрудничаем с арбитражными управляющими, аудиторами и адвокатами по уголовному праву.
