*
  margin 0
  padding 0
  box-sizing border-box
  text-decoration none

html
  font-size: 10px

.Page
  font-family: "Proxima Nova"

.Wrapper
  width 100%
  overflow-x: hidden
  min-height: 100vh

.g-wrapper
  max-width: 120rem
  margin 0 auto
  padding-left 4.5rem
  padding-right 4.5rem

@media (max-width: 1600px)
  html
    font-size: 9px

@media (max-width: 1440px)
  html
    font-size: 8px

@media (max-width: 1280px)
  html
    font-size: 7px

@media (max-width: 1024px)
  html
    font-size: 6px

@media (max-width: 1000px)
  html
    font-size: 10px
  .g-wrapper
    max-width: 768px;

@media (max-width: 667px)
  .g-wrapper
    max-width: 320px;
