@import './_fonts.styl'
@import './_global.styl'

flex-gap(cols, gap)
  width "calc((100% / %s) - (%s - %s / %s))" % (cols gap gap cols)

@import './blocks/_header.styl'
@import './blocks/_decor.styl'
@import './blocks/_i-Slider.styl'
@import './blocks/_i-Directions.styl'
@import './blocks/_i-Vantage.styl'
@import './blocks/_i-Line.styl'
@import './blocks/_i-About.styl'
@import './blocks/_i-Team.styl'
@import './blocks/_i-Blog.styl'
@import './blocks/_i-Partners.styl'
@import './blocks/_i-Contacts.styl'
@import './blocks/_i-SectionTop.styl'
@import './blocks/_i-News.styl'
@import './blocks/_i-Discount.styl'
@import './blocks/_blog.styl'
@import './blocks/_typical.styl'
@import './blocks/_i-Menu.styl'
@import './blocks/_team-modal.styl'
@import './blocks/_footer.styl'
@import './blocks/_j-Services.styl'
@import './blocks/_j-requirements.styl'
@import './blocks/_j-registration.styl'
