.Blog
  &__buttons
    max-width 84.4rem
    display flex
    justify-content flex-start
    align-items stretch
    margin 0 auto
  &__button
    width 100%
    text-align center
    font-size 1.2rem
    color black
    background rgba(251,251,251,0.83)
    text-align center
    padding 1.2rem 1rem
    cursor pointer
    transition 0.3s
    &_active
      color white
      background #D0D0D0
@media (max-width 667px)
  .Blog
    &__buttons
      flex-wrap wrap
    &__button
      width 50%
