.Decor
  &__research
    position fixed
    top 50%
    left 8rem
    display flex
    align-items center
    background-color rgba(255,255,255,.5)
    border-radius 2px
    padding 0.4rem .8rem
    transform-origin: left bottom
    transform rotate(90deg)
    font-size: 1.2rem
    letter-spacing: .15rem
    color black
    z-index 10
    & svg
      margin-left 1rem
  &__socials
    position fixed
    top 65%
    right 8rem
    padding 0.4rem .8rem
    background-color rgba(255,255,255,.5)
    border-radius 2px
    transform-origin: right top
    transform rotate(90deg)
    width 34.3rem
    display flex
    justify-content space-between
    align-items center
    z-index 101
  &__link
    font-size: 1.2rem
    letter-spacing: .15rem
    color black

@media (max-width 1000px)
  .Decor
    &__research
      left 2rem
    &__socials
      right 2rem

@media (max-width 667px)
  .Decor
    &__research
      left 0.4rem
    &__socials
      display none
