.Footer
  padding 6.4rem 0 7rem
  background: linear-gradient(to right, #1D3EDE, #01E4F8);
  &__top
    display flex
    justify-content space-between
    align-items flex-start
    padding-bottom 5.8rem
    border-bottom 0.1rem solid #7D9BB9
    margin-bottom 5.8rem
  &__bottom
    display flex
    justify-content space-between
    align-items flex-start
    margin-bottom 4.6rem
    &_left
      width 40%
      display flex
      justify-content space-between
    &_right
      width 54%
      display flex
      justify-content space-between
    &_col
      width 48%
  &__title
    font-family: 'Proxima Nova';
    font-weight: bold;
    font-size 1.4rem
    text-transform uppercase
    color white
    margin-bottom 2.4rem
  &__link
    display block
    font-family: 'Proxima Nova';
    font-weight: normal
    font-size 1.4rem
    color white
    margin-bottom 1.6rem
  &__inform
    display flex
    justify-content space-between
    align-items center
  &__pays
    width 54%
    display flex
    justify-content flex-start
    align-items center
  &__pay
    margin-right 1.8rem
  &__social
    margin-right 1rem
  &__socials
    display flex

  &__subscribe
    display flex
    justify-content flex-start
    align-items stretch
  &__input
    max-width 27rem
    width 100%
    background-color white
    font-size 1.4rem
    font-family: 'Proxima Nova';
    font-weight 300
    padding 1.4rem 0 1.4rem 2rem
    border-radius 0.4rem
    border none
    outline none
    border-top-right-radius 0
    border-bottom-right-radius 0
  &__form
    &_but
      padding 1.4rem 2rem
      border none
      outline none
      border-top-right-radius 0.4rem
      border-bottom-right-radius 0.4rem
      cursor pointer

@media (max-width 1000px)
  .Footer
    &__col
      margin-right 0.6rem
    &__social
      width 44%
      margin-right 0
      & svg
        width 100%
    &__bottom
      flex-wrap wrap
      &_left,&_right
        width 100%
      &_left
        margin-bottom 3rem


  .Footer .g-wrapper
    max-width none

