.Header
  padding-top 7rem
  position relative
  &__top
    display flex
    align-items center
    margin-bottom 1.8rem
  &__logo
    margin-right 7.3rem
    margin-left 1rem
  &__email
    font-size: 1.1rem
    letter-spacing: .138rem
    opacity 0.5
    margin-right 3.8rem
  &__links
    flex-grow: 1
    display flex
    align-items center
  &__link
    font-size: 1.2rem
    color #000
    margin-right 4.6rem
    letter-spacing: .15rem
    &:last-child
      margin-right 0
  &__phones
    position relative
    transform: translateY(-12%)
    margin-right 2rem
  &__country
    font-size: .8rem
    font-weight: 300
    opacity 0.69
    margin-bottom 0.2rem
  &__phone
    font-size: 1.2rem
    letter-spacing: .15rem
    opacity 0.7
  &__callback
    position relative
    font-size: 1.2rem
    color #1D3EDE
    border-radius 2px
    border none
    background-image: linear-gradient(135deg, #1D3EDE, #01E4F8)
    cursor pointer
    transition color .3s
    letter-spacing: .15rem
    &::after
      display inline-block
      content attr(data-text)
      background-color #fff
      transition background-color .3s
      padding 1.2rem 2.2rem 1.1rem
      margin 1px
    &:hover
      color white
      &::after
        background-color transparent
  &__menu
    display flex
    justify-content flex-end
    align-items center
  &__dropdown
    width 46rem
    background-image: linear-gradient(135deg, #1D3EDE, #01E4F8)
    border-radius: 4px
    margin-right 2rem
    cursor pointer
    user-select: none
    &:last-child
      margin-right 0
  &__dropdownText
    display inline-flex
    align-items center
    justify-content space-between
    width calc(100% - 2px)
    font-weight: 600
    font-size: 1.2rem
    letter-spacing: .15rem
    margin 1px
    border-radius 3px
    background-color #fff
    padding 1.3rem 2.8rem 1.2rem
    & svg
      width 2rem
      height 2rem
.Logo
  & svg
    width 8.5rem

@media (max-width 1000px)
  .Header
    &__logo
      margin-right 1.6rem
    &__link
      margin-right 1rem
    &__email
      display none
@media (max-width 667px)
  .Header
    &__menu
      display none
    &__phone
      margin-bottom 0
    &__email
      display block
      margin-right 0
    &__phones
      margin-right 0
    &__links
      display none
    &__email
      margin-bottom 1rem
    &__top
      flex-wrap wrap
    &__mobile
      width 100%
      display flex
      justify-content space-between
      align-items center
      margin-bottom 1.6rem
    &__callback
      margin 0 auto
  body > div.Wrapper > header > div.g-wrapper
    max-width none
