.i-About
  margin-bottom 13rem
  &__container
    display flex
    justify-content space-between
    margin-bottom 11rem
  &__listBlock
    position relative
    width 54%
    height 52.4rem
    background url('/images/about-img.jpg') center center/cover
  &__description
    width 36.5%
  &__list
    position absolute
    bottom -3.5rem
    right -4.3rem
    width 38.4rem
    padding 4.5rem 3rem 0
    background-color #fff
    list-style-type none
    border-radius 3px
    box-shadow: 0 2px 14px rgba(0,0,0,.07)
  &__item
    display flex
    align-items center
    margin-bottom 5rem
    font-size: 1.2rem
    font-weight: 300
    color black
    letter-spacing: .033rem
    & svg
      width 4rem
      height 4rem
      margin-right 3rem
      flex 0 0 auto
  &__title
    font-size: 1.2rem
    color black
    letter-spacing: .214rem
    margin-bottom 1.8rem
  &__heading
    font-size: 2.4rem
    font-weight: 600
    color black
    letter-spacing: .1rem
    line-height: 3.9rem
    margin-bottom 3.2rem
  &__text
    font-size: 1.4rem
    font-weight: 300
    line-height: 2.8rem
    letter-spacing: .039rem
    color black
  &__footer
    text-align center
    width 70%
    margin 0 auto
  &__cite
    font-size: 1.4rem
    font-weight: 300
    letter-spacing: .225rem
    color black
    margin-bottom 2.8rem
  &__link
    background-image: linear-gradient(135deg, #1D3EDE, #01E4F8)
    padding 0.7rem 3.4rem .6rem
    font-size: 1rem
    letter-spacing: .125rem
    color #fff
    border-radius 2px

@media (max-width 1000px)
  .i-About
    &__container
      display block
      margin-bottom 4rem
    &__listBlock
      width 100%
      margin-bottom 5rem
    &__list
      right 0
    &__description
      width 100%
