.Contacts
  padding 8.6rem 0 6.2rem
  &__top
    display flex
    justify-content space-between
    margin-bottom 7rem
  &__title
    font-weight: 700;
    font-size: 6.1rem;
    margin-bottom 2rem
    color #1d3ede
  &__title
    background-image: linear-gradient(135deg,#1d3ede,#01e4f8);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing 0.15rem
  &__about
    font-weight 300
    font-size 1.2rem
  &__form
    width 31.2rem
    padding 1px
    background-image: linear-gradient(135deg,#1d3ede,#01e4f8);
    border-radius: 4px;
    &_title
      font-size 1.4rem
      margin-bottom 2.2rem
      text-transform uppercase
    &_inner
      padding 2.4rem 4rem
      background #fff
      border-radius: 4px;
    &_elem
      display: block;
      width 100%
      border-radius: 4px;
      background-image: linear-gradient(135deg,#1d3ede,#01e4f8);
      padding 1px
      margin-bottom 0.6rem
      &:last-of-type
        margin-bottom 1.8rem
      &_inner
        background white
        border-radius 3px
    &_input,&_textarea
      width 100%
      border none
      padding 1rem 2.8rem
      border-radius: 4px;
      font-weight 300
      font-size 1.2rem
      outline none
      resize none
      &::placeholder
        letter-spacing 0.125rem
    &_textarea
      height 8rem
    &_button
      background-image: linear-gradient(135deg,#1d3ede,#01e4f8);
      padding: 1.4rem 3rem
      border none
      font-size: 1rem;
      letter-spacing: .125rem;
      color: #fff;
      border-radius: 2px;
      cursor pointer
  &__bottom
    display flex
    justify-content space-between
  &__block
    width 44%
  &__map
    margin-bottom 2.2rem
    & img
      width 100%
      object-fit cover
  &__address
    display flex
    align-items center
    justify-content center
    margin-bottom 1.4rem
    & svg
      margin-right 2rem
  &__subtitle
    font-weight 700
    font-size 1.4rem
    text-transform uppercase
    margin-bottom 2rem
  &__inform
    display flex
    justify-content space-between
    align-items center
  &__link
    display flex
    align-items center
    font-size 1.4rem
    color black
    & svg
      margin-right 2rem
  &__wrap
    padding 0 3rem


