.i-Directions
  margin-bottom 7.4rem
  &__container
    width 84.7%
    margin 0 0 0 auto
  &__heading
    font-size: 1rem
    font-weight: 300
    letter-spacing: .125rem
    text-align center
    color black
    margin-bottom 2.4rem
    user-select none
  &__directions
    position relative
    width 83rem
    display flex
    justify-content space-between
  &__direction
    position relative
    width calc(50% - 1.8rem)
    height 20rem
    padding-top 4.3rem
    padding-left 6rem
  &__text
    width 90%
    font-size: 1.8rem
    line-height: 3.8rem
    user-select none
  &__link
    position absolute
    right 3rem
    bottom 1.8rem
    padding .8rem 2.8rem .7rem
    background-image linear-gradient(135deg, #1D3EDE, #01E4F8)
    border-radius 2px
    font-size: .9rem
    color: #ffffff
    letter-spacing: .112rem
  &__label
    position absolute
    top 50%
    left 100%
    font-size: 1.2rem
    letter-spacing: .15rem
    color black
    white-space: nowrap
    transform translateY(-50%) rotate(-90deg)

@media (max-width 1000px)
  .i-Directions
    &__container
      width 100%
      margin 0
    &__directions
      width 100%
    &__label
      display none
@media (max-width 667px)
  .i-Directions
    &__directions
      display block
    &__direction
      width 100%
      height 14rem
      padding 2.4rem 0 1.2rem 0
      margin-bottom 1.4rem
    &__text
      width 100%
      font-size 1.4rem
      margin-right 0
      line-height 2.1rem
      text-align center
      margin-bottom 4rem
    &__link
      position relative
      display inline-block
      right 0
      left 50%
      transform translateX(-50%)


