.i-Line
  background-image: linear-gradient(135deg, #1D3EDE, #01E4F8)
  padding 6.4rem 0
  margin-bottom 12.8rem
  &__items
    display flex
    justify-content space-around
    text-align center
  &__item
    position relative
  &__number
    font-size: 7.2rem
    color #fff
    font-weight: 600
    letter-spacing: .2rem
    opacity 0.9
  &__text
    font-size: 2.4rem
    color #fff
    font-weight: 300
    letter-spacing: .071rem
    opacity 0.6
  &__top
    position absolute
    bottom 100%
    left 0
    width 100%
    text-align center
    font-size: 1.2rem
    color #fff
    font-weight: 300
    letter-spacing: .085rem
    opacity 0.7

@media (max-width 1000px)
  .i-Line
    padding 3.4rem 0
    &__number
      font-size 5.2rem
    &__text
      font-size 2rem
@media (max-width 667px)
  .i-Line
    &__items
      display block
      margin-bottom 1rem
