.i-Slider
  padding-top 6.8rem
  margin-bottom 2.3rem
  &__container
    width 84.7%
    margin 0 0 0 auto
    position relative
  &__slider
    position relative
    overflow hidden
  &__slide
    padding 3.7rem 0
    background-size: contain
    background-position: right top
    background-repeat: no-repeat
  &__number
    padding-left 0.2rem
    font-size: 1.2rem
    color #000
    letter-spacing: .15rem
    margin-bottom 0.6rem
  &__heading
    font-weight: bold
    font-size: 6.1rem
    line-height: 7.4rem
    color #1D3EDE
    margin-bottom 1.6rem
    @supports (-webkit-background-clip: text)
      background-image linear-gradient(135deg, #1D3EDE, #01E4F8)
      -webkit-background-clip: text
      color transparent
  &__text
    font-size: 1.2rem
    letter-spacing: .15rem
    color black
    margin-bottom 4rem
  &__link
    display inline-flex
    align-items center
    font-size: 1.2rem
    color black
    letter-spacing: .15rem
    & svg
      width 7.8em
      height 7.8em
      margin-right 2rem
  &__buttons
    display flex
    position absolute
    right 0
    bottom 0
    z-index 1
  &__button
    padding 1.5rem 2rem
    background-color #fff
    cursor pointer
    outline none
    &.swiper-button-disabled svg
      opacity 0.2


@media (max-width 1000px)
  .i-Slider
    &__container
      margin 0
      width 100%
    &__slide
      padding 3.6rem 2rem
      background-size cover
@media (max-width 667px)
  .i-Slider .g-wrapper
    max-width none
    padding-left 0
    padding-right 0
  .i-Slider
    padding-top 2.8rem
    &__heading
      font-size 2.4rem
      line-height 2.9rem
    &__link
      & svg
        width 5rem
        height 5rem
