.i-Team
  background-color #FBFBFB
  padding 7rem 0
  &__heading
    font-size: 2.4rem
    font-weight: 300
    color black
    text-align center
    margin-bottom 7rem
  &__team
    display flex
    justify-content space-between
  &__block
    width 20rem
    text-align center
  &__photo
    position relative
    width 15rem
    height 13rem
    border-radius 15px
    margin 0 auto
    margin-bottom 2.4rem
    z-index 1
    &::before
      content: ''
      position absolute
      top 0
      left 0
      transform: translate(-50%, -30%)
      border-radius 100%
      width 6.6rem
      height 6.6rem
      background-image: linear-gradient(135deg, #1D3EDE, #01E4F8)
      z-index -1
    & img
      width 100%
      height 100%
      object-fit: cover
      border-radius 15px
  &__name
    font-size: 1.6rem
    line-height: 3.8rem
    color black
  &__description
    font-size: 1.2rem
    font-weight: 300
    color black
    letter-spacing: .15rem
    margin-bottom 1.6rem
  &__more
    font-size: 1.6rem
    font-weight: 600
    color black
    line-height: 3.8rem
    text-decoration: underline

@media (max-width 1000px)
  .i-Team
    &__team
      flex-wrap wrap
      justify-content space-around
    &__block
      width 50%
      margin-bottom 2rem
    &__description
      width 80%
      margin 0 auto
