.j-Requirements
  background-color #fff
  margin-bottom 8.2rem
  &__block
    display flex
    justify-content space-between
    align-items flex-start
    width 74rem
    margin 0 auto
    border 1px solid #000
    border-top none
    border-image: linear-gradient(135deg, #1D3EDE, #01E4F8) 1
    padding 5.5rem 4rem 5rem 8rem
  &__heading
    font-size: 1.6rem
    font-weight: 600
    line-height: 2.4rem
    color black
    opacity 0.9
    margin-bottom 2.8rem
  &__col
    width 45%
    flex 0 0 auto
  &__list
    list-style-type none
  &__item
    position relative
    font-size: 1.4rem
    font-weight: 300
    font-style: italic
    line-height: 1.3rem
    opacity 0.9
    margin-bottom 1.8rem
    &::before
      content ''
      position absolute
      top 0
      left -2.8rem
      width 0.8rem
      height 0.8rem
      border-radius 100%
      background-image: linear-gradient(135deg, #1D3EDE, #01E4F8)
