.Team__modal
  &_name
    font-size 1.6rem
    text-align center
    margin-bottom 1.4rem
    font-weight 700
    letter-spacing 0.033rem
    color #050D31
  &_role
    display block
    width 30%
    margin 0 auto
    font-size 1.2rem
    font-weight 300
    letter-spacing 0.015rem
    text-align center
    margin-bottom 4rem
    color #050D31
  &_text
    position relative
    font-size 1.2rem
    font-weight 300
    letter-spacing 0.033rem
    color #023753
    &:before
      content ''
      width 3rem
      height 1px
      background #185DE3
      position absolute
      left -3.4rem
      top 0

.modal .Team__modal
  max-width 58.4rem
  width 100%
  padding 2rem 7rem 5.2rem



@media (max-width 667px)
  .Team__modal
    &_role
      width 100%

@media (max-width 540px)
  .tingle-modal-box__content .SectionTop__form
    margin-top 8rem;

