block vars
<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= title
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="/vendor/swiper.min.css")
    script(src="https://cdn.polyfill.io/v2/polyfill.js?features=default,fetch")
    script(src="/vendor/swiper.min.js")
  body.Page
    .Wrapper
      include ../blocks/_header.pug
      include ../blocks/_decor.pug
      block content
      include ../blocks/_footer.pug
    script(src="/js/main.js")
